<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
        .formedLabel *{
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <h1 >Analice</h1>
    <p>Introduce una URL para analizar</p>
    <form action="/action/" id="usrform" method="post" >
        {% csrf_token %}
        {% for field in form %}
             <p class="formedLabel">
                {{ field.label_tag }} {{ field }}
             </p>
        {% endfor %}
        <button id="btn_reset" type="button" onclick="myFunction()">Reset</button>
        <input type="submit" id="btn_execute" value="Execute">

    </form>

    <form action="/result/" method="get" id="Search">
        {% csrf_token %}
        {% for field in form2 %}
             <p class="formedLabel">
                {{ field.label_tag }} {{ field }}
             </p>
        {% endfor %}
        <input type="submit" id="btn_search" value="Execute">




    </form>




</div>
<div>
<script>
function myFunction() {
    document.getElementById("id_url").value = "";
}
</script>
</body>
</html>